<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @director.description.truncate(20) %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @director.dob.strftime("%A, %B %e, %Y") %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
